<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title></title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>I am Deep</h3>
        <img class="portrait" src='/img/pic.jpg'>
    </div>

    {{>footer}}
</body>


</html>