<html>

<head>


    <link rel="stylesheet" href="./css/styles.css">

    <title></title>
</head>

<body>
    <div class="main-content">{{> header}}
        <h4>Use this page to get weather</h4>
        <form> <input type="text" placeholder="Location" value="">
            <button>Get Weather</button>
        </form>

        <p id="message-1">
        </p>
        <p id="message-2">
        </p>
    </div>
    {{> footer}}
    <script src="./css/1.js"></script>
</body>

</html>